<link rel="stylesheet" href="menu.component.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/main">Caninos Peludos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mascotas">Mascotas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/solicitudes">Solicitudes</a>
                </li>
            </ul>
            <!-- Nueva lista para el lado derecho -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="https://linktr.ee/jidwardrodriguez">Jidward Rodríguez</a>
                </li>
            </ul>
        </div>
    </div>
</nav>